body {
    font-family: Arial;
    background: white;
    box-sizing: border-box;
}

.container {
    margin: 5px;
}

.main-section {
    margin: 5px;
    border: solid red 2px;
    height: 10em;
    width: 100%;
    justify-content: space-between;
}

.left-column {
    flex: 25%;
}

.middle-column {
    flex: 45%;
}

.right-column {
    flex: 30%;
}

.border-outline {
    border: 2px solid yellow;
}

.flex {
    display: flex;
}