body {
    background-color: white;
    margin: 0%;
    border
}

.container {
    
}

.main-section {
    margin: 5px;
    border: solid red 2px;
    height: 10em;
}



.border-outline {
    border: 4px solid yellow;
}

.flex {
    display: flex;
}